{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="container-fluid">
                <h1>{{ heading_title }}</h1>
                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-supplers2">
                        <div class="alert alert-info" role="alert">
                            {{ log_info }}
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center"></td>
                                    <td class="text-left" style="color: #1E91CF;">{{ text_date }}</td>
                                    <td class="text-left" style="color: #1E91CF;">{{ text_suppler_name }}</td>
                                    <td class="text-left" style="color: #1E91CF; max-width:400px">{{ text_link }}</td>
                                    <td class="text-left" style="color: #1E91CF;">{{ text_status }}</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% if logs %}
                                    {% for log in logs %}
                                        {% set set_class = '' %}
                                        {% if log.sku_set %}
                                            {% set set_class = 'success_set' %}
                                        {% endif %}
                                        <tr class="{{ set_class }}">
                                            <td style="text-align: center;">
                                                <input type="checkbox" name="selected[]"
                                                       value="{{ log.id }}"/>
                                            <td class="text-left">{{ log.date }}</td>
                                            <td class="text-left">{{ log.name }}</td>
                                            <td class="text-left">
                                                <a href="{{ log.link }}">{{ text_show_details }}</a>
                                            </td>
                                            <td class="text-left">{{ log.status }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td class="text-center" colspan="4">{{ text_no_results }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-6 text-left">{{ pagination }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ footer }}