{{ header }}
{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">

                <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                            class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ entry_formdate~' '~supplers.formdate }} </strong>
        </div>
    </div>
    <div class="container-fluid">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form">
            <table class="table">
                <tbody>
                <tr>
                    <td width="200"><label for="name_input">{{ text_name }}*</label></td>
                    <td>
                        <input id="name_input" class="form-control" type="text" name="name" value="{{ suppler.name }}"/>
                    </td>
                </tr>
                <tr>
                    <td width="200"><label for="link_input">{{ text_link }}*</label></td>
                    <td>
                        <div class="input-group mb-3">
                            <input id="link_input" type="text" class="form-control" name="link"
                                   value="{{ suppler.link }}">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">
                                    <a href="{{ suppler.link }}" target="_blank">
                                        <svg class="bi" width="1em"
                                             height="1em"
                                             fill="currentColor">
                                        <use xlink:href="/admin/view/stylesheet/suppler2/bootstrap-icons.svg#arrow-up-right-square-fill"></use>
                                        </svg>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="200"><label for="need_authorization">{{ text_need_authorization }}</label></td>
                    <td>
                        {% if suppler.need_authorization == 1 %}
                            <input type="checkbox" checked class="need_authorization" name="need_authorization"
                                   value="1"/>
                        {% else %}
                            <input type="checkbox" class="need_authorization" name="need_authorization" value="1"/>
                        {% endif %}
                    </td>
                </tr>
                {% set hidden = 'hidden ' %}
                {% if suppler.need_authorization == 1 %}
                    {% set hidden = ' ' %}
                {% endif %}
                <tr class="{{ hidden }} can_be_hidden">
                    <td width="200"><label for="link_input">{{ text_login }}</label></td>
                    <td>
                        <input type="text" class="form-control" name="login" value="{{ suppler.login }}"/>
                    </td>
                </tr>
                <tr class="{{ hidden }} can_be_hidden">
                    <td width="200"><label for="link_input">{{ text_password }}</label></td>
                    <td>
                        <input type="password" class="form-control" name="password" value="{{ suppler.password }}"/>
                    </td>
                </tr>
                <tr>
                    <td width="200"><label for="link_input">{{ text_status }}</label></td>
                    <td>
                        <select class="custom-select form-control" name="status">
                            <option value="1" selected>{{ text_on }}</option>
                            <option value="0">{{ text_off }}</option>
                        </select>
                        <input type="hidden" name="token" value="{{ token }}"/>
                        <input type="hidden" name="id" value="{{ suppler.id }}"/>
                        <input type="hidden" name="route" value="{{ suppler.route }}"/>
                        <input type="hidden" name="product_number" value="{{ suppler.product_number }}"/>
                    </td>
                </tr>
                <tr>
                    <td width="200"><label for="link_input">{{ text_description }}</label></td>
                    <td>
                        <textarea class="form-control" name="description">{{ suppler.description }}</textarea>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="text-center ajax_upload">
                <div class="alert alert-info" role="alert">
                    {{ text_xml_start }}
                </div>
                <a data-toggle="tooltip" class="btn btn-primary check_xml" type="button"
                   data-suppler_id="{{ suppler.id }}"><i>Start</i></a>

            </div>
        </form>
    </div> <!-- end Action -->

</div> <!-- tab-content -->

{{ footer }}