<div class="alert alert-info" role="alert">
    {{ text_xml_check }}
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>{{ text_key }}</th>
        <th>{{ text_value }}</th>
        <th>{{ text_to }}</th>
        <th>{{ text_status }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        <tr>
            <td style="width: 130px">
                <span>{{ row.key }}</span>
                <input type="hidden" name="rows[{{ row.key }}][key]" value="{{ row.key }}"/>
                <input type="hidden" name="rows[{{ row.key }}][route]" value="{{ row.route }}"/>
            </td>
            <td style="max-width: 300px">
                <span>{{ row.value }}</span>
                <input type="hidden" name="rows[{{ row.key }}][value]" value="{{ row.value }}"/>
            </td>
            <td style="width: 130px">
                <div class="input-group mb-3">
                    <select class="form-control" name="rows[{{ row.key }}][site_key]">
                        <option value=""></option>
                        <option {{ row.site_key == 'sku' ? 'selected' : '' }} value="sku">{{ text_sku }}*</option>
                        <option disabled {{ row.site_key == 'name' ? 'selected' : '' }} value="name">{{ text_name }}</option>
                        <option disabled {{ row.site_key == 'category' ? 'selected' : '' }}
                                value="category">{{ text_category }}</option>
                        <option {{ row.site_key == 'description' ? 'selected' : '' }}
                                value="description">{{ text_description }}</option>
                        <option {{ row.site_key == 'price' ? 'selected' : '' }} value="price">{{ text_price }}</option>
                        <option {{ row.site_key == 'price_stock' ? 'selected' : '' }} value="price_stock">{{ text_price_stock }}</option>
                        <option {{ row.site_key == 'quantity' ? 'selected' : '' }} value="quantity">{{ text_quantity }}</option>
                        <option {{ row.site_key == 'image' ? 'selected' : '' }} value="image">{{ text_image }}</option>
                    </select>
                </div>
            </td>
            <td style="width: 130px">
                <div class="input-group mb-3">
                    {% if row.status is empty %}
                        <select class="form-control" name="rows[{{ row.key }}][status]">
                            <option value="1" {{ row.status == 1 ? 'selected' : '' }}>{{ text_on }}</option>
                            <option value="0" {{ row.status != 1 ? 'selected' : '' }}>{{ text_off }}</option>
                        </select>
                    {% else %}
                        <select class="form-control" name="rows[{{ row.key }}][status]">
                            <option value="1" selected>{{ text_on }}</option>
                            <option value="0">{{ text_off }}</option>
                        </select>
                    {% endif %}
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>