<div class="container-module">
	<div class="tabs">
		<ul class="prod-cat-tabs" id="prodCatTab{{ module }}">
			{% set tn = 0%}
			{% for category in categories %}
			<li {% if (tn == 0) %}class="active"{% endif %}><a data-toggle="tab" data-catid="{{ category['category_id'] }}" href="#cat-tab-{{ module }}-{{ category['category_id'] }}">{{ category['name'] }}</a></li>
			{% set tn = tn + 1 %}
			{% endfor %}
		</ul>
		<div class="tab-content prod_cat_tab_content">
			{% set tn = 0%}
			{% for category in categories %}
			<div class="tab-pane fade {% if (tc == 0) %}active in{% endif %}" id="cat-tab-{{ module }}-{{ category['category_id'] }}">
				<div class="content-items">
				</div>
			</div>
			{% set tc = tc + 1 %}
			{% endfor %}
		  </div>
	</div>
</div>
<script>
var idCategory = $('#prodCatTab{{ module }} > li:first-child a').attr("data-catid");
var checkExistHtml = $("#cat-tab-{{ module }}-"+idCategory+" .content-items").html();
if($.trim(checkExistHtml).length==0||checkExistHtml==undefined){
	$.ajax({
			url: '{{ ajaxurl }}',
			type: 'post',
			data: 'category_id='+ idCategory+'&module={{ module }}&setting={{ setting }}',
			dataType: 'html',
			success: function(data) {
				$("#cat-tab-{{ module }}-"+idCategory+" .content-items").html(data);
			}
	});
}
$("#prodCatTab{{ module }} > li a").click(function(){
	var Categoryid = $(this).attr("data-catid");
	var checkExistHtml = $("#cat-tab-{{ module }}-"+Categoryid+" .content-items").html();
		if($.trim(checkExistHtml).length==0||checkExistHtml==undefined){
			$.ajax({
					url: '{{ ajaxurl }}',
					type: 'post',
					data: 'category_id='+ Categoryid+'&module={{ module }}&setting={{ setting }}',
					dataType: 'html',
					success: function(data) {
						$("#cat-tab-{{ module }}-"+Categoryid+" .content-items").html(data);
						setTimeout(function () {
						$('a > img').each(function () {
							if ($(this).attr('data-status')) {
								var status = $(this).attr('data-status');
								$(this).after('<div class="product_status">'+status+'</div>');
							}
							if ($( document ).width()>767) {
								if ($(this).attr('data-additional-hover')) {
									var img_src = $(this).attr('data-additional-hover');
									$(this).addClass('main-img');
									$(this).after('<img src="'+img_src+'" class="additional-img-hover img-responsive" title="'+$(this).attr('alt')+'" />');
								}
							}
						});
						},1000);
					}
			});
		}
	});
</script>