		<div class="col-sm-12 col-md-3 menu-box {% if (main_menu_fix_mobile is defined and (main_menu_fix_mobile == 1)) %}hidden-xs hidden-sm{% endif %}">
			{% if (items) %}
			<nav id="menu" class="btn-group btn-block">
				<button type="button" class="btn btn-menu btn-block dropdown-toggle hidden-md hidden-lg" {% if (type_mobile_menu is defined and (type_mobile_menu == '1')) %} data-toggle="offcanvas" data-target="#menu-mobile-ns.navmenu.offcanvas" data-canvas="body"{% else %}data-toggle="dropdown"{% endif %}>
					<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.97059 2.11765C8.97059 0.948103 8.02249 0 6.85294 0H2.61765C1.4481 0 0.5 0.948103 0.5 2.11765V6.35294C0.5 7.52249 1.4481 8.47059 2.61765 8.47059H6.85294C8.02249 8.47059 8.97059 7.52249 8.97059 6.35294V2.11765ZM2.61765 1.58824H6.85294L6.9481 1.59676C7.19507 1.64159 7.38235 1.85775 7.38235 2.11765V6.35294L7.37382 6.4481C7.329 6.69507 7.11284 6.88235 6.85294 6.88235H2.61765L2.52248 6.87382C2.27551 6.829 2.08824 6.61284 2.08824 6.35294V2.11765L2.09676 2.02248C2.14159 1.77551 2.35775 1.58824 2.61765 1.58824Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4999 2.11765C18.4999 0.948103 17.5518 0 16.3822 0H12.1469C10.9774 0 10.0293 0.948103 10.0293 2.11765V6.35294C10.0293 7.52249 10.9774 8.47059 12.1469 8.47059H16.3822C17.5518 8.47059 18.4999 7.52249 18.4999 6.35294V2.11765ZM12.1471 1.58824H16.3824L16.4775 1.59676C16.7245 1.64159 16.9118 1.85775 16.9118 2.11765V6.35294L16.9032 6.4481C16.8584 6.69507 16.6423 6.88235 16.3824 6.88235H12.1471L12.0519 6.87382C11.8049 6.829 11.6176 6.61284 11.6176 6.35294V2.11765L11.6262 2.02248C11.671 1.77551 11.8872 1.58824 12.1471 1.58824Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4999 11.6469C18.4999 10.4774 17.5518 9.5293 16.3822 9.5293H12.1469C10.9774 9.5293 10.0293 10.4774 10.0293 11.6469V15.8822C10.0293 17.0518 10.9774 17.9999 12.1469 17.9999H16.3822C17.5518 17.9999 18.4999 17.0518 18.4999 15.8822V11.6469ZM12.1471 11.1176H16.3824L16.4775 11.1262C16.7245 11.171 16.9118 11.3872 16.9118 11.6471V15.8824L16.9032 15.9775C16.8584 16.2245 16.6423 16.4118 16.3824 16.4118H12.1471L12.0519 16.4032C11.8049 16.3584 11.6176 16.1423 11.6176 15.8824V11.6471L11.6262 11.5519C11.671 11.3049 11.8872 11.1176 12.1471 11.1176Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.97059 11.6469C8.97059 10.4774 8.02249 9.5293 6.85294 9.5293H2.61765C1.4481 9.5293 0.5 10.4774 0.5 11.6469V15.8822C0.5 17.0518 1.4481 17.9999 2.61765 17.9999H6.85294C8.02249 17.9999 8.97059 17.0518 8.97059 15.8822V11.6469ZM2.61765 11.1176H6.85294L6.9481 11.1262C7.19507 11.171 7.38235 11.3872 7.38235 11.6471V15.8824L7.37382 15.9775C7.329 16.2245 7.11284 16.4118 6.85294 16.4118H2.61765L2.52248 16.4032C2.27551 16.3584 2.08824 16.1423 2.08824 15.8824V11.6471L2.09676 11.5519C2.14159 11.3049 2.35775 11.1176 2.61765 11.1176Z" fill="white"/>
					</svg>
					<span class="text-category hidden-xs hidden-sm">{{ text_category }}</span>
				</button>
				<button type="button" class="btn btn-menu btn-block dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown">
					<svg class="menu-icon" width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.97059 2.11765C8.97059 0.948103 8.02249 0 6.85294 0H2.61765C1.4481 0 0.5 0.948103 0.5 2.11765V6.35294C0.5 7.52249 1.4481 8.47059 2.61765 8.47059H6.85294C8.02249 8.47059 8.97059 7.52249 8.97059 6.35294V2.11765ZM2.61765 1.58824H6.85294L6.9481 1.59676C7.19507 1.64159 7.38235 1.85775 7.38235 2.11765V6.35294L7.37382 6.4481C7.329 6.69507 7.11284 6.88235 6.85294 6.88235H2.61765L2.52248 6.87382C2.27551 6.829 2.08824 6.61284 2.08824 6.35294V2.11765L2.09676 2.02248C2.14159 1.77551 2.35775 1.58824 2.61765 1.58824Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4999 2.11765C18.4999 0.948103 17.5518 0 16.3822 0H12.1469C10.9774 0 10.0293 0.948103 10.0293 2.11765V6.35294C10.0293 7.52249 10.9774 8.47059 12.1469 8.47059H16.3822C17.5518 8.47059 18.4999 7.52249 18.4999 6.35294V2.11765ZM12.1471 1.58824H16.3824L16.4775 1.59676C16.7245 1.64159 16.9118 1.85775 16.9118 2.11765V6.35294L16.9032 6.4481C16.8584 6.69507 16.6423 6.88235 16.3824 6.88235H12.1471L12.0519 6.87382C11.8049 6.829 11.6176 6.61284 11.6176 6.35294V2.11765L11.6262 2.02248C11.671 1.77551 11.8872 1.58824 12.1471 1.58824Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4999 11.6469C18.4999 10.4774 17.5518 9.5293 16.3822 9.5293H12.1469C10.9774 9.5293 10.0293 10.4774 10.0293 11.6469V15.8822C10.0293 17.0518 10.9774 17.9999 12.1469 17.9999H16.3822C17.5518 17.9999 18.4999 17.0518 18.4999 15.8822V11.6469ZM12.1471 11.1176H16.3824L16.4775 11.1262C16.7245 11.171 16.9118 11.3872 16.9118 11.6471V15.8824L16.9032 15.9775C16.8584 16.2245 16.6423 16.4118 16.3824 16.4118H12.1471L12.0519 16.4032C11.8049 16.3584 11.6176 16.1423 11.6176 15.8824V11.6471L11.6262 11.5519C11.671 11.3049 11.8872 11.1176 12.1471 11.1176Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.97059 11.6469C8.97059 10.4774 8.02249 9.5293 6.85294 9.5293H2.61765C1.4481 9.5293 0.5 10.4774 0.5 11.6469V15.8822C0.5 17.0518 1.4481 17.9999 2.61765 17.9999H6.85294C8.02249 17.9999 8.97059 17.0518 8.97059 15.8822V11.6469ZM2.61765 11.1176H6.85294L6.9481 11.1262C7.19507 11.171 7.38235 11.3872 7.38235 11.6471V15.8824L7.37382 15.9775C7.329 16.2245 7.11284 16.4118 6.85294 16.4118H2.61765L2.52248 16.4032C2.27551 16.3584 2.08824 16.1423 2.08824 15.8824V11.6471L2.09676 11.5519C2.14159 11.3049 2.35775 11.1176 2.61765 11.1176Z" fill="white"/>
					</svg>
					<span class="text-category">{{ text_category }}</span>
					<svg class="menu-icon-arrow" width="10" height="5" viewBox="0 0 10 5" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.48438 0.999949L5.3232 3.82779C4.93562 4.1745 4.34699 4.16629 3.96923 3.8089L1.0002 0.999949" stroke="white" stroke-width="1.5" stroke-linecap="round"/></svg>
				</button>
				<ul id="menu-list" class="dropdown-menu">
					{% for item in items %}
						{% if (item['children']) %}
							<li class="dropdown {% if (item['additional_menu'] == "additional") %}hidden-md hidden-lg{% endif %}">
							<span class="toggle-child">
								<i class="fa fa-plus plus"></i>
								<i class="fa fa-minus minus"></i>
							</span>
								<a href="{{ item['href'] }}" {% if (item['new_blank'] == 1) %}{{ 'target="_blank" data-target="link" class="parent-link"' }} {% else %} {{ 'class="parent-link dropdown-img"' }}{% endif %}>
									{% if (item['thumb']) %}
										<img alt="{{ item['name'] }}" class="nsmenu-thumb {% if (item['thumb_hover']) %}pitem-icon{% endif %}" src="{{ item['thumb']}}"/>
									{% endif %}
									{% if (item['thumb_hover']) %}
										<img alt="{{ item['name'] }}" class="nsmenu-thumb hitem-icon" src="{{ item['thumb_hover']}}"/>
									{% endif %}
									<div class="item-name{% if (item['thumb']) %} himg{% endif %}">{{ item['name'] }}</div>
									<div class="item-dop-info{% if (item['thumb']) %} himg{% endif %}">{{ item['dop_info_vm'] }}</div>
									{% if (item['sticker_parent'] is not empty) %}
										<span style="color:#{{ item['spctext'] }}; background-color:#{{ item['spbg'] }}" class="cat-label cat-label-label">{{ item['sticker_parent'] }}</span>
									{% endif %}
									<i class="fa fa-angle-right arrow"></i>
								</a>

								{% if ((item['type'] == "freelink") or (item['type'] == "category")) %}
								{% if (item['subtype'] == "simple") %}
								  <div class="ns-dd dropdown-menu-simple nsmenu-type-category-simple">
										<ul class="list-unstyled nsmenu-haschild">
											{% for child in item['children'] %}
											<li {% if (child['children'] is not empty) %} class="nsmenu-issubchild"{% endif %}>
												<a href="{{ child['href'] }}">{% if (child['children'] is not empty) %}<i class="fa fa-angle-down arrow"></i>{% endif %}{{ child['name'] }}</a>
												{% if (child['children'] is not empty) %}
												<ul class="list-unstyled nsmenu-ischild nsmenu-ischild-simple">
													{% for subchild in child['children'] %}
														{% if (item['type'] == "freelink") %}
															<li><a href="{{ subchild['link'] }}">{{ subchild['title'] }}</a></li>
														{% else %}
															<li class="{% if subchild.child_4level_data %} ischild_4level_simple{% endif %}">
																<a href="{{ subchild['href'] }}">{% if subchild.child_4level_data %}<i class="fa fa-angle-down arrow"></i>{% endif %}
																{{ subchild['name'] }}
																</a>
																{% if (subchild['child_4level_data'] is not empty) %}
																<ul class="list-unstyled child_4level_simple">
																	{% for child_4level_data in subchild['child_4level_data'] %}
																		<li><a href="{{ child_4level_data['href'] }}">{{ child_4level_data['name'] }}</a></li>
																	{% endfor %}
																</ul>
																{% endif %}
															</li>
														{% endif %}
													{% endfor %}
												</ul>
												{% endif %}
											</li>
											{% endfor %}
										</ul>
									</div>
									{% endif %}
									{% endif %}

										{% if ((item['type'] == "freelink") or (item['type'] == "category")) %}
										{% if ((item['subtype'] == "full_image") or (item['subtype'] == "full")) %}
										<div class="ns-dd dropdown-menu-full-image nsmenu-type-category-full-image box-col-3">
												<div class="col-sm-{% if (item['add_html']) %}9{% else %}12{% endif %} nsmenu-haschild">
												  {% set num_columns = item.add_html ? 3 : 4 %}
													{% for children in item.children|batch(num_columns) %}
													<div class="row-flex">
														{% for child in children %}
														<div class="nsmenu-parent-block{% if child.children %} nsmenu-issubchild{% endif %} col-md-{% if (item['add_html']) %}4{% else %}3{% endif %} col-sm-12 col-xs-12">
															{% if (item['subtype'] == "full_image") %}
															<a class="nsmenu-parent-img" href="{{ child['href'] }}"><img class="lazyload" src="{{ lazy_img }}" data-src="{{ child['thumb'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}"/></a>
															{% endif %}
															<a class="nsmenu-parent-title" href="{{ child['href'] }}">{{ child['name'] }}</a>
															{% if (child['children'] is not empty) %}
																<ul class="list-unstyled nsmenu-ischild">
																	{% for subchild in child['children'] %}
																		{% if (item['type'] == "freelink") %}
																			<li><a href="{{ subchild['link'] }}">{{ subchild['title'] }}</a></li>
																		{% else %}
																			<li><a href="{{ subchild['href'] }}">{{ subchild['name'] }}</a></li>
																		{% endif %}
																	{% endfor %}
																</ul>
															{% endif %}
														</div>
														{% endfor %}
													</div>
													{% endfor %}
												</div>
												{% if (item['add_html']) %}
												<div class="col-sm-3 menu-add-html">
													{{ item.add_html }}
												</div>
												{% endif %}
										</div>
										{% endif %}
										{% endif %}

										{% if (item['type'] == "html") %}
										  <div class="ns-dd dropdown-menu-html-block nsmenu-type-html box-col-2">
											<div class="nsmenu-html-block">
												{{ item.html }}
											</div>
										   </div>
										{% endif %}

										{% if (item['type'] == "manufacturer") %}
											<div class="ns-dd dropdown-menu-manufacturer nsmenu-type-manufacturer {% if (item['add_html']) %}box-col-3{% else %} box-col-2 {% endif %}">
												{% if (item['type_manuf'] == "type_alphabet") %}
														<div class="col-sm-{% if (item['add_html']) %}8{% else %}12{% endif %} nsmenu-haschild">
															{% set num_columns = item.add_html ? 4 : 6 %}
															{% if item.result_manufacturer_a %}
																{% for manufacturer_a in item.result_manufacturer_a|batch(num_columns) %}
																<div class="row">
																{% for man_alphabet in manufacturer_a %}
																	{% if man_alphabet.manufacturer %}
																	 {% for manufacturers in man_alphabet.manufacturer|batch(num_columns) %}
																			<div class="nsmenu-parent-block col-md-{% if (item['add_html']) %}3{% else %}2{% endif %} col-sm-12">
																			<span class="name-manuf-a">{{ man_alphabet['name'] }}</span>
																				{% for manufacturer in manufacturers %}
																					<div class="manuf-res"><a data-toggle="tooltip" title="<img src='{{ manufacturer['thumb'] }}' alt='{{ manufacturer['name'] }}' title='{{ manufacturer['name'] }}' />" href="{{ manufacturer['href'] }}">{{ manufacturer['name'] }}</a></div>
																				{% endfor %}
																			</div>
																		{% endfor %}

																	{% endif %}
																{% endfor %}
																</div>
																{% endfor %}
															{% endif %}
														</div>
														{% if (item['add_html']) %}
														<div class="col-sm-4 menu-add-html">
															{{ item.add_html }}
														</div>
														{% endif %}
													{% endif %}
													{% if (item['type_manuf'] == "type_image") %}
														<div class="col-sm-{% if (item['add_html']) %}8{% else %}12{% endif %} nsmenu-haschild">
														 {% set num_columns = item.add_html ? 4 : 6 %}
															{% for children in item.children|batch(num_columns) %}
															<div class="row">
																{% for child in children %}
																<div class="nsmenu-parent-block col-md-{% if (item['add_html']) %}3{% else %}2{% endif %} col-sm-12">
																	<a class="nsmenu-parent-img" href="{{ child['href'] }}"><img class="lazyload" src="{{ lazy_img }}" data-src="{{ child['thumb'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}" /></a>
																	<a class="nsmenu-parent-title" href="{{ child['href'] }}">{{ child['name'] }}</a>
																</div>
																{% endfor %}
															</div>
															{% endfor %}
														</div>
														{% if (item['add_html']) %}
														<div class="col-sm-4 menu-add-html">
															{{ item.add_html }}
														</div>
														{% endif %}
													{% endif %}
											</div>

										{% endif %}

										{% if (item['type'] == "information") %}
											<div class="ns-dd dropdown-menu-information nsmenu-type-information {% if (item['add_html']) %}box-col-3{% else %} box-col-1 {% endif %}">
													<div class="col-sm-{% if (item['add_html']) %}8{% else %}12{% endif %} nsmenu-haschild">
													 % set num_columns = item.add_html ? 2 : 1 %}
														{% for children in item.children|batch(num_columns) %}
															<ul class="list-unstyled nsmenu-haschild {% if (item['add_html']) %}col-xs-12 col-sm-6{% endif %}">
																{% for child in children %}
																	<li><a href="{{ child['href'] }}">{{ child['name'] }}</a></li>
																{% endfor %}
															</ul>
														{% endfor %}
													</div>
													{% if (item['add_html']) %}
													<div class="col-sm-4 menu-add-html">
														{{ item.add_html }}
													</div>
													{% endif %}
											</div>
										{% endif %}

										{% if (item['type'] == "product") %}
											<div class="ns-dd dropdown-menu-product nsmenu-type-product box-col-3">
												<div class="col-sm-{% if (item['add_html']) %}8{% else %}12{% endif %} nsmenu-haschild">
													{% set num_columns = item.add_html ? 4 : 6 %}
														{% for children in item.children|batch(num_columns) %}
														<div class="row">
															{% for child in children %}
															<div class="nsmenu-parent-block col-md-{% if (item['add_html']) %}3{% else %}2{% endif %} col-sm-12">
																<a class="nsmenu-parent-img" href="{{ child['href'] }}"><img class="lazyload" src="{{ lazy_img }}" data-src="{{ child['thumb'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}" /></a>
																<a class="nsmenu-parent-title" href="{{ child['href'] }}">{{ child['name'] }}</a>
																<div class="price">
																	{% if (not child['special']) %}
																		{{ child['price'] }}
																	{% else %}
																		<span class="price-old">{{ child['price'] }}</span>
																		<span class="price-new">{{ child['special'] }}</span>
																	{% endif %}
																</div>
															</div>
															{% endfor %}
														</div>
														{% endfor %}
												</div>
												{% if (item['add_html']) %}
												<div class="col-sm-4 menu-add-html">
													{{ item.add_html }}
												</div>
												{% endif %}
											</div>
										{% endif %}
							</li>
						{% else %}
								<li {% if (item['additional_menu'] == "additional") %}class="hidden-md hidden-lg"{% endif %}>
									<a {% if (item['new_blank'] == 1) %}{{ 'target="_blank" data-target="link"' }}{% else %} {{ 'class="dropdown-img"' }}{% endif %} href="{{ item['href'] }}">
										{% if (item['thumb']) %}
											<img alt="{{ item['name'] }}" class="nsmenu-thumb {% if (item['thumb_hover']) %}pitem-icon{% endif %}" src="{{ item['thumb']}}"/>
										{% endif %}
										{% if (item['thumb_hover']) %}
											<img alt="{{ item['name'] }}" class="nsmenu-thumb hitem-icon" src="{{ item['thumb_hover']}}"/>
										{% endif %}
										{% if (item['sticker_parent'] is not empty) %}
											<span style="color:#{{ item['spctext'] }}; background-color:#{{ item['spbg'] }}" class="cat-label cat-label-label">{{ item['sticker_parent'] }}</span>
										{% endif %}
										<div class="item-name{% if (item['thumb']) %} himg{% endif %}">{{ item['name'] }}</div>
										<div class="item-dop-info{% if (item['thumb']) %} himg{% endif %}">{{ item['dop_info_vm'] }}</div>
									</a>
								</li>
						{% endif %}
					{% endfor %}
				</ul>
			</nav>
				{% if (main_menu_mask is defined and (main_menu_mask == 1)) %}
				<div id="maskMenuHC"></div>
				{% endif %}
			{% endif %}
		</div>
		{% if ((type_header == 1) or (type_header == 2) and (swap_search_dmenu == 1)) %}
		<div class="col-md-9 dop-menu-box hidden-xs hidden-sm clearfix">
		{% if (additional) %}
		<nav id="additional-menu" class="navbar hmenu_type">
		<div>
		  <ul class="nav navbar-nav">
			{% for item in items %}
				{% if (item['children']) %}
				{% if (item['additional_menu'] == "additional") %}
				<li class="dropdown">
					<a href="{{ item['href'] }}" {% if (item['new_blank'] == 1) %}{{ 'target="_blank" data-target="link"' }}{% else %} {{ 'class="dropdown-toggle dropdown-img" data-toggle="dropdown"' }}{% endif %}>
						{% if (item['thumb']) %}
							<img alt="{{ item['name'] }}" class="nsmenu-thumb {% if (item['thumb_hover']) %}pitem-icon{% endif %}" src="{{ item['thumb']}}"/>
						{% endif %}
						{% if (item['thumb_hover']) %}
							<img alt="{{ item['name'] }}" class="nsmenu-thumb hitem-icon" src="{{ item['thumb_hover']}}"/>
						{% endif %}
						{% if (item['sticker_parent'] is not empty) %}
							<span style="color:#{{ item['spctext'] }}; background-color:#{{ item['spbg'] }}" class="cat-label cat-label-label">{{ item['sticker_parent'] }}</span>
						{% endif %}
						{{ item['name'] }}
						<i class="fa fa-angle-down arrow"></i>
					</a>

							{% if ((item['type'] == "freelink") or (item['type'] == "category")) %}
							{% if (item['subtype'] == "simple") %}
							{% if (item['additional_menu'] == "additional") %}
							 <div class="dropdown-menu nsmenu-type-category-simple">
									<ul class="list-unstyled nsmenu-haschild">
										{% for child in item['children'] %}
										<li {% if (child['children'] is not empty) %}class="nsmenu-issubchild"{% endif %}>
											<a href="{{ child['href'] }}">
											{{ child['name'] }}
											{% if (child['children'] is not empty) %}<i class="fa fa-angle-down arrow"></i>{% endif %}
											</a>
											{% if (child['children'] is not empty) %}
											<ul class="list-unstyled nsmenu-ischild nsmenu-ischild-simple">
											 {% for subchild in child['children'] %}
												{% if (item['type'] == "freelink") %}
													<li><a href="{{ subchild['link'] }}">{{ subchild['title'] }}</a></li>
												{% else %}
													<li><a href="{{ subchild['href'] }}">{{ subchild['name'] }}</a></li>
												{% endif %}

											{% endfor %}
											</ul>
											{% endif %}
										</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
							{% endif %}
							{% endif %}

							{% if ((item['type'] == "freelink") or (item['type'] == "category")) %}
							{% if ((item['subtype'] == "full_image") or (item['subtype'] == "full") ) %}
							{% if (item['additional_menu'] == "additional") %}
								<div class="dropdown-menu nsmenu-type-category-full-image nsmenu-bigblock-additional">
									<div class="col-sm-{% if (item['add_html']) %}9{% else %}12{% endif %} nsmenu-haschild">
										 {% set num_columns = item.add_html ? 3 : 4 %}
											{% for children in item.children|batch(num_columns) %}
											<div class="row-flex">
												{% for child in children %}
												<div class="nsmenu-parent-block{% if child.children %} nsmenu-issubchild{% endif %} col-md-{% if (item['add_html']) %}4{% else %}3{% endif %} col-sm-12 col-xs-12">
													<div class="mbflex">
													{% if (item['subtype'] == "full_image") %}
													<a class="nsmenu-parent-img" href="{{ child['href'] }}"><img class="lazyload" src="{{ lazy_img }}" data-src="{{ child['thumb'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}"/></a>
													{% endif %}
													<a class="nsmenu-parent-title" href="{{ child['href'] }}">{{ child['name'] }}</a>
													</div>
													{% if (child['children'] is not empty) %}
														<ul class="list-unstyled nsmenu-ischild">
															{% for subchild in child['children'] %}
																{% if (item['type'] == "freelink") %}
																	<li><a href="{{ subchild['link'] }}">{{ subchild['title'] }}</a></li>
																{% else %}
																	<li><a href="{{ subchild['href'] }}">{{ subchild['name'] }}</a></li>
																{% endif %}
															{% endfor %}
														</ul>
													{% endif %}
												</div>
												{% endfor %}
											</div>
											{% endfor %}
									</div>
									{% if (item['add_html']) %}
										<div class="col-sm-3 menu-add-html">
											{{ item.add_html }}
										</div>
									{% endif %}
								</div>
								{% endif %}
								{% endif %}
								{% endif %}
								{% if (item['type'] == "html") %}
								{% if (item['additional_menu'] == "additional") %}
								  <div class="dropdown-menu nsmenu-type-html">
									<div class="nsmenu-html-block">
										{{ item.html }}
									</div>
								   </div>
								{% endif %}
								{% endif %}
								{% if (item['type'] == "manufacturer") %}
								{% if (item['additional_menu'] == "additional") %}
									<div class="dropdown-menu nsmenu-type-manufacturer nsmenu-bigblock-additional">
										{% if (item['type_manuf'] == "type_alphabet") %}
											<div class="col-sm-{% if (item['add_html']) %}8{% else %}12{% endif %} nsmenu-haschild">
												{% set num_columns = item.add_html ? 4 : 6 %}
												{% if item.result_manufacturer_a %}
													{% for manufacturer_a in item.result_manufacturer_a|batch(num_columns) %}
													<div class="row">
													{% for man_alphabet in manufacturer_a %}
														{% if man_alphabet.manufacturer %}
															{% for manufacturers in man_alphabet.manufacturer|batch(num_columns) %}
																<div class="nsmenu-parent-block col-md-{% if (item['add_html']) %}3{% else %}2{% endif %} col-sm-12">
																<span class="name-manuf-a">{{ man_alphabet['name'] }}</span>
																	{% for manufacturer in manufacturers %}
																		<div class="manuf-res"><a data-toggle="tooltip" title="<img src='{{ manufacturer['thumb'] }}' alt='{{ manufacturer['name'] }}' title='{{ manufacturer['name'] }}' />" href="{{ manufacturer['href'] }}">{{ manufacturer['name'] }}</a></div>
																	{% endfor %}
																</div>
															{% endfor %}

														{% endif %}
													{% endfor %}
													</div>
													{% endfor %}
												{% endif %}
											</div>
											{% if (item['add_html']) %}
											<div class="col-sm-4 menu-add-html">
												{{ item.add_html }}
											</div>
											{% endif %}
										{% endif %}
										{% if (item['type_manuf'] == "type_image") %}
											<div class="col-sm-{% if (item['add_html']) %}8{% else %}12{% endif %} nsmenu-haschild">
											 {% set num_columns = item.add_html ? 4 : 6 %}
												{% for children in item.children|batch(num_columns) %}
												<div class="row">
													{% for child in children %}
													<div class="nsmenu-parent-block col-md-{% if (item['add_html']) %}3{% else %}2{% endif %} col-sm-12">
														<a class="nsmenu-parent-img" href="{{ child['href'] }}"><img class="lazyload" src="{{ lazy_img }}" data-src="{{ child['thumb'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}" /></a>
														<a class="nsmenu-parent-title" href="{{ child['href'] }}">{{ child['name'] }}</a>
													</div>
													{% endfor %}
												</div>
												{% endfor %}
											</div>
											{% if (item['add_html']) %}
											<div class="col-sm-4 menu-add-html">
												{{ item.add_html }}
											</div>
											{% endif %}
										{% endif %}
									</div>
								{% endif %}
								{% endif %}

								{% if (item['type'] == "information") %}
								{% if (item['additional_menu'] == "additional") %}
									<div class="dropdown-menu nsmenu-type-information {% if (item['add_html']) %}nsmenu-bigblock-additional{% endif %}">
										{% if (item['add_html']) %}
											<div class="menu-add-html">
												{{ item.add_html }}
											</div>
										{% endif %}
										<ul class="list-unstyled nsmenu-haschild {% if (item['add_html']) %}nsmenu-blockwithimage{% endif %}">
											{% for child in item['children'] %}
												<li class=""><a href="{{ child['href'] }}">{{ child['name'] }}</a></li>
											{% endfor %}
										</ul>
									</div>
								{% endif %}
								{% endif %}

								{% if (item['type'] == "product") %}
								{% if (item['additional_menu'] == "additional") %}
									<div class="dropdown-menu nsmenu-type-product nsmenu-bigblock-additional">
										<div class="col-sm-{% if (item['add_html']) %}8{% else %}12{% endif %} nsmenu-haschild">
										 {% set num_columns = item.add_html ? 4 : 6 %}
												{% for children in item.children|batch(num_columns) %}
											<div class="row">
												{% for child in children %}
												<div class="nsmenu-parent-block col-md-{% if (item['add_html']) %}3{% else %}2{% endif %} col-sm-12">
													<a class="nsmenu-parent-img" href="{{ child['href'] }}"><img class="lazyload" src="{{ lazy_img }}" data-src="{{ child['thumb'] }}" alt="{{ child['name'] }}" title="{{ child['name'] }}" /></a>
													<a class="nsmenu-parent-title" href="{{ child['href'] }}">{{ child['name'] }}</a>
													<div class="price">
														{% if (not child['special']) %}
															{{ child['price'] }}
														{% else %}
															<span class="price-old">{{ child['price'] }}</span>
															<span class="price-new">{{ child['special'] }}</span>
														{% endif %}
													</div>
												</div>
												{% endfor %}
											</div>
											{% endfor %}
										</div>
										{% if (item['add_html']) %}
										<div class="col-sm-4 menu-add-html">
											{{ item.add_html }}
										</div>
										{% endif %}									</div>
								{% endif %}
								{% endif %}
					</li>
					{% endif %}
				{% else %}
					{% if (item['additional_menu'] == "additional") %}
						<li><a {% if (item['new_blank'] == 1) %}{{ 'target="_blank" data-target="link"' }}{% endif %} class="{% if (not item['thumb']) %}no-img-parent-link{% endif %}" href="{{ item['href'] }}">
						{% if (item['thumb']) %}
							<img alt="{{ item['name'] }}" class="nsmenu-thumb {% if (item['thumb_hover']) %}pitem-icon{% endif %}" src="{{ item['thumb']}}"/>
						{% endif %}
						{% if (item['thumb_hover']) %}
							<img alt="{{ item['name'] }}" class="nsmenu-thumb hitem-icon" src="{{ item['thumb_hover']}}"/>
						{% endif %}
						{% if (item['sticker_parent'] is not empty) %}
							<span style="color:#{{ item['spctext'] }}; background-color:#{{ item['spbg'] }}" class="cat-label cat-label-label">{{ item['sticker_parent'] }}</span>
						{% endif %}
						{{ item['name'] }}</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
		  </ul>
		</div>
		<div class="dop-menu-show_more">
			<span class="prev-m"><i class="fa fa-angle-left"></i></span>
			<span class="total-sections"></span>
			<span class="next-m"><i class="fa fa-angle-right"></i></span>
		</div>
	   </nav>
	    {% if (main_menu_mask is defined and (main_menu_mask == 1)) %}
		  <div id="maskMenuDop"></div>
		{% endif %}
{% endif %}
	  </div>
<script>
       function toggle_menu_items(info_total_sections,current_menu_section,total_sections,items_widths,items,show_more_btn_prev,total_width) {
            info_total_sections.html(current_menu_section + '/' + total_sections);
            var arr, widths = $.extend(true, [], items_widths), section;
            arr = items;
            section = current_menu_section;
            if(current_menu_section == 1){
            	show_more_btn_prev.addClass('off-prev-m');
	            var sum = 0;
	            arr.each(function(i) {
	                var $item = $(this);
	                show_menu_item($item);
	                sum += widths[i];
	                if(section == 1){
	                	$item.removeClass('item_menu_hidden');
	                }
	                if(section > 1){
	            		$item.addClass('item_menu_hidden');
	            	}

	                if (sum > total_width) {
	            		section += 1;
	            		sum = 0;
	            		$item.addClass('item_menu_hidden');
	            		$item.addClass('section_' + section);
	            	} else {
	            		$item.addClass('section_' + section);
	            	}
	            });
             }

        }

        function show_menu_item(elem) {
            elem.removeClass('item_menu_hidden');
            elem.removeClass(function (index, className) {
				return (className.match (/(^|\s)section_\S+/g) || []).join(' ');
			});
        }

        function cs__menu_init(mfix) {
        	if(mfix == 1){
        		var container = $('.dop-menu-box .navbar.hmenu_type');
        	}
        	if(mfix == 2){
        		var container = $('#top-fixed .dop-menu-box .navbar.hmenu_type');
        	}
            var menu = $('.nav.navbar-nav', container);
            menu.css('visibility', 'hidden');
            var wrapper = menu.parent();
            var show_more_btn = $('.dop-menu-show_more');
            var show_more_btn_prev = $('.dop-menu-show_more .prev-m');
            var show_more_btn_next = $('.dop-menu-show_more .next-m');
            var info_total_sections = $('.dop-menu-show_more .total-sections');
            var items = menu.children();
            show_more_btn.hide();
            var sum = 0;
            var items_widths = [];
            var total_width = 0;
            total_width = container.innerWidth() - show_more_btn.outerWidth();

            show_menu_item(items);
            items.css('width', 'auto');
            items.each(function(i) {
                var item = $(this);
                items_widths[i] = item.get(0).getBoundingClientRect().width;
                item.css('width', item.get(0).getBoundingClientRect().width);
                sum += items_widths[i];

            });
            var total_sections = 1
            total_sections = Math.ceil(sum / total_width);
            if (total_sections > 1) {
                wrapper.css('width', total_width);
                show_more_btn.css('display', 'inline-block');
            } else {
            	wrapper.css('width', '');
                show_more_btn.hide();
            }
            var current_menu_section = 1;

            toggle_menu_items(info_total_sections,current_menu_section,total_sections,items_widths,items,show_more_btn_prev,total_width);
            menu.css('visibility', 'visible');
            show_more_btn.off('click');
            show_more_btn_prev.click(function() {
            	if(current_menu_section === 1) {
                    current_menu_section = 1;
                    show_more_btn_prev.addClass('off-prev-m');
                } else {
                	current_menu_section -= 1;
                	if(current_menu_section === 1){
                		show_more_btn_prev.addClass('off-prev-m');
                		if(total_sections == 2){
                			show_more_btn_next.removeClass('off-next-m');
                		}
                    } else {
                    	show_more_btn_prev.removeClass('off-prev-m');
                    	show_more_btn_next.removeClass('off-next-m');
                    }
                	info_total_sections.html(current_menu_section + '/' + total_sections);
		            $('.section_' + (current_menu_section + 1)).addClass('item_menu_hidden');
		            $('.section_' + current_menu_section).removeClass('item_menu_hidden');
                }
            });
            show_more_btn_next.click(function() {
            	if (current_menu_section === total_sections) {
                    current_menu_section = total_sections;
                    show_more_btn_next.addClass('off-next-m');
                } else {
                    current_menu_section += 1;
                    if(current_menu_section === total_sections){
                    	show_more_btn_next.addClass('off-next-m');
                    } else {
                    	show_more_btn_next.removeClass('off-next-m');
                    }
                    if(current_menu_section >= 1){
                    	show_more_btn_prev.removeClass('off-prev-m');
                    }
                    info_total_sections.html(current_menu_section + '/' + total_sections);
		            $('.section_' + current_menu_section).removeClass('item_menu_hidden');
		            $('.section_' + (current_menu_section - 1)).addClass('item_menu_hidden');
                }
            });
        }
    $(document).ready(function() {
   		setTimeout(function () {
			cs__menu_init(1);
		}, 300);
        $(window).resize(function() {
        	$('.dop-menu-box .navbar.hmenu_type div').removeAttr('style');
        	$('.dop-menu-show_more').hide();
            setTimeout(function () {
				cs__menu_init(1);
			}, 1500);
        });
        if (window.addEventListener) {
            window.addEventListener('orientationchange', function() {
                cs__menu_init(1);
            }, false);
        }
    });
</script>
	  {% endif %}
{% if (type_header == 1) %}
{% if (main_menu_fix_mobile == 0) %}
<script>
$(document).ready(function() {
	$(function() {
		if (viewport().width <= 991) {
			$('.box-search #searchtop').insertAfter('#menu button:eq(0)');
		}
		$(window).resize(function() {
			if (viewport().width <= 991) {
				$('#top-fixed').remove();
				$('.box-search #searchtop').insertAfter('#menu button:eq(0)');
			} else {
				$('.box-search').prepend( $('#menu #searchtop') );
			}
		});
	});
});
</script>
{% endif %}
{% endif %}
{% if (main_menu_fix_mobile is defined and (main_menu_fix_mobile == 1)) %}
<div class="mob-block-fix" id="mob-info-block">
	<div class="mob-block-title">
	<svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 4C11.5 1.79086 9.70914 0 7.5 0C5.29086 0 3.5 1.79086 3.5 4C3.5 6.20914 5.29086 8 7.5 8C9.70914 8 11.5 6.20914 11.5 4ZM5 4C5 2.61929 6.11929 1.5 7.5 1.5C8.88071 1.5 10 2.61929 10 4C10 5.38071 8.88071 6.5 7.5 6.5C6.11929 6.5 5 5.38071 5 4Z" fill="black"/>
	<path fill-rule="evenodd" clip-rule="evenodd" d="M15 13.0001C15 12.7811 14.9776 12.5627 14.9333 12.3483C14.5733 10.608 12.8707 9.4891 11.1305 9.84909C11.024 9.87113 10.9196 9.89255 10.8175 9.91335L9.95708 10.0841L9.44895 10.1796L8.78494 10.2952L8.40774 10.354L8.08292 10.3981L7.81047 10.4274L7.5904 10.4421H7.4096L7.18953 10.4274C7.14849 10.4238 7.10526 10.4195 7.05985 10.4146L6.76122 10.3779L6.4102 10.3265L6.00682 10.2604L5.04292 10.0841L3.86951 9.84909C3.65509 9.80471 3.4367 9.78236 3.21773 9.78236C1.44063 9.78236 0 11.223 0 13.0001C0 15.2092 1.79086 17.0001 4 17.0001H11C13.2091 17.0001 15 15.2092 15 13.0001ZM11.4343 11.318C12.3633 11.1258 13.2722 11.7231 13.4644 12.6522L13.4841 12.7673C13.4947 12.8444 13.5 12.9222 13.5 13.0001C13.5 14.3808 12.3807 15.5001 11 15.5001H4L3.83562 15.4948C2.53154 15.4101 1.5 14.3256 1.5 13.0001C1.5 12.0514 2.26906 11.2824 3.21773 11.2824C3.33461 11.2824 3.45114 11.2943 3.5655 11.318C3.67831 11.3413 3.78873 11.364 3.89679 11.386L4.80641 11.5664L5.59316 11.7113L6.26158 11.8212L6.8162 11.8961C6.87167 11.9025 6.92512 11.9082 6.97657 11.9134L7.26156 11.9363L7.5 11.944L7.73844 11.9363C7.78202 11.9338 7.82754 11.9306 7.87503 11.9268L8.1838 11.8961L8.73841 11.8212L9.17108 11.7519L9.65567 11.6669L10.4828 11.5102L11.4343 11.318Z" fill="black"/>
	</svg>
	<span class="mob-text-title">{{ text_info_mob }}</span>
	<button type="button" class="mob-block-close">×</button>
	</div>
	<div id="mob-info-block-inner">
		<div class="box-account-mob"></div>
		<div class="box-other-mob"></div>
		<div class="box-description-mob">{{ desc_info_mob }}</div>
	</div>
</div>
<div class="mob-block-fix" id="mob-search-block">
	<div id="mob-search-block-inner"></div>
</div>
<div id="top-fixed-mobile" class="hidden-md hidden-lg">
	<div class="container">
		<div class="box-flex-fix">
			<div class="mob-m-i menu_fix_mob">
				{% if (type_mobile_menu is defined and (type_mobile_menu == '1')) %}
				<button type="button" class="btn btn-menu-mobile" data-toggle="offcanvas" data-target="#menu-mobile-ns.navmenu.offcanvas" data-canvas="body">
					<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.97059 2.11765C8.97059 0.948103 8.02249 0 6.85294 0H2.61765C1.4481 0 0.5 0.948103 0.5 2.11765V6.35294C0.5 7.52249 1.4481 8.47059 2.61765 8.47059H6.85294C8.02249 8.47059 8.97059 7.52249 8.97059 6.35294V2.11765ZM2.61765 1.58824H6.85294L6.9481 1.59676C7.19507 1.64159 7.38235 1.85775 7.38235 2.11765V6.35294L7.37382 6.4481C7.329 6.69507 7.11284 6.88235 6.85294 6.88235H2.61765L2.52248 6.87382C2.27551 6.829 2.08824 6.61284 2.08824 6.35294V2.11765L2.09676 2.02248C2.14159 1.77551 2.35775 1.58824 2.61765 1.58824Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4999 2.11765C18.4999 0.948103 17.5518 0 16.3822 0H12.1469C10.9774 0 10.0293 0.948103 10.0293 2.11765V6.35294C10.0293 7.52249 10.9774 8.47059 12.1469 8.47059H16.3822C17.5518 8.47059 18.4999 7.52249 18.4999 6.35294V2.11765ZM12.1471 1.58824H16.3824L16.4775 1.59676C16.7245 1.64159 16.9118 1.85775 16.9118 2.11765V6.35294L16.9032 6.4481C16.8584 6.69507 16.6423 6.88235 16.3824 6.88235H12.1471L12.0519 6.87382C11.8049 6.829 11.6176 6.61284 11.6176 6.35294V2.11765L11.6262 2.02248C11.671 1.77551 11.8872 1.58824 12.1471 1.58824Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4999 11.6469C18.4999 10.4774 17.5518 9.5293 16.3822 9.5293H12.1469C10.9774 9.5293 10.0293 10.4774 10.0293 11.6469V15.8822C10.0293 17.0518 10.9774 17.9999 12.1469 17.9999H16.3822C17.5518 17.9999 18.4999 17.0518 18.4999 15.8822V11.6469ZM12.1471 11.1176H16.3824L16.4775 11.1262C16.7245 11.171 16.9118 11.3872 16.9118 11.6471V15.8824L16.9032 15.9775C16.8584 16.2245 16.6423 16.4118 16.3824 16.4118H12.1471L12.0519 16.4032C11.8049 16.3584 11.6176 16.1423 11.6176 15.8824V11.6471L11.6262 11.5519C11.671 11.3049 11.8872 11.1176 12.1471 11.1176Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.97059 11.6469C8.97059 10.4774 8.02249 9.5293 6.85294 9.5293H2.61765C1.4481 9.5293 0.5 10.4774 0.5 11.6469V15.8822C0.5 17.0518 1.4481 17.9999 2.61765 17.9999H6.85294C8.02249 17.9999 8.97059 17.0518 8.97059 15.8822V11.6469ZM2.61765 11.1176H6.85294L6.9481 11.1262C7.19507 11.171 7.38235 11.3872 7.38235 11.6471V15.8824L7.37382 15.9775C7.329 16.2245 7.11284 16.4118 6.85294 16.4118H2.61765L2.52248 16.4032C2.27551 16.3584 2.08824 16.1423 2.08824 15.8824V11.6471L2.09676 11.5519C2.14159 11.3049 2.35775 11.1176 2.61765 11.1176Z" fill="white"/>
					</svg>
				</button>
				{% else %}
				<button type="button" class="btn btn-menu-mobile" data-toggle="collapse" data-target="#menu-mobile-ns .navbar-type2-collapse">
					<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.97059 2.11765C8.97059 0.948103 8.02249 0 6.85294 0H2.61765C1.4481 0 0.5 0.948103 0.5 2.11765V6.35294C0.5 7.52249 1.4481 8.47059 2.61765 8.47059H6.85294C8.02249 8.47059 8.97059 7.52249 8.97059 6.35294V2.11765ZM2.61765 1.58824H6.85294L6.9481 1.59676C7.19507 1.64159 7.38235 1.85775 7.38235 2.11765V6.35294L7.37382 6.4481C7.329 6.69507 7.11284 6.88235 6.85294 6.88235H2.61765L2.52248 6.87382C2.27551 6.829 2.08824 6.61284 2.08824 6.35294V2.11765L2.09676 2.02248C2.14159 1.77551 2.35775 1.58824 2.61765 1.58824Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4999 2.11765C18.4999 0.948103 17.5518 0 16.3822 0H12.1469C10.9774 0 10.0293 0.948103 10.0293 2.11765V6.35294C10.0293 7.52249 10.9774 8.47059 12.1469 8.47059H16.3822C17.5518 8.47059 18.4999 7.52249 18.4999 6.35294V2.11765ZM12.1471 1.58824H16.3824L16.4775 1.59676C16.7245 1.64159 16.9118 1.85775 16.9118 2.11765V6.35294L16.9032 6.4481C16.8584 6.69507 16.6423 6.88235 16.3824 6.88235H12.1471L12.0519 6.87382C11.8049 6.829 11.6176 6.61284 11.6176 6.35294V2.11765L11.6262 2.02248C11.671 1.77551 11.8872 1.58824 12.1471 1.58824Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M18.4999 11.6469C18.4999 10.4774 17.5518 9.5293 16.3822 9.5293H12.1469C10.9774 9.5293 10.0293 10.4774 10.0293 11.6469V15.8822C10.0293 17.0518 10.9774 17.9999 12.1469 17.9999H16.3822C17.5518 17.9999 18.4999 17.0518 18.4999 15.8822V11.6469ZM12.1471 11.1176H16.3824L16.4775 11.1262C16.7245 11.171 16.9118 11.3872 16.9118 11.6471V15.8824L16.9032 15.9775C16.8584 16.2245 16.6423 16.4118 16.3824 16.4118H12.1471L12.0519 16.4032C11.8049 16.3584 11.6176 16.1423 11.6176 15.8824V11.6471L11.6262 11.5519C11.671 11.3049 11.8872 11.1176 12.1471 11.1176Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M8.97059 11.6469C8.97059 10.4774 8.02249 9.5293 6.85294 9.5293H2.61765C1.4481 9.5293 0.5 10.4774 0.5 11.6469V15.8822C0.5 17.0518 1.4481 17.9999 2.61765 17.9999H6.85294C8.02249 17.9999 8.97059 17.0518 8.97059 15.8822V11.6469ZM2.61765 11.1176H6.85294L6.9481 11.1262C7.19507 11.171 7.38235 11.3872 7.38235 11.6471V15.8824L7.37382 15.9775C7.329 16.2245 7.11284 16.4118 6.85294 16.4118H2.61765L2.52248 16.4032C2.27551 16.3584 2.08824 16.1423 2.08824 15.8824V11.6471L2.09676 11.5519C2.14159 11.3049 2.35775 11.1176 2.61765 11.1176Z" fill="white"/>
					</svg>
				</button>
				<script>
				$(".btn-menu-mobile").click(function() {
					 if ($("#menu-mobile-ns .navbar-type2-collapse").hasClass("in")) {
						 return $("body").removeClass("no-scroll-html");
					 } else {
						 return $("body").addClass("no-scroll-html");
					 }
				});
				</script>
				{% endif %}
				<button class="btn btn-menu-info" type="button" id="info-btn-mob">
					<svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M11.5 4C11.5 1.79086 9.70914 0 7.5 0C5.29086 0 3.5 1.79086 3.5 4C3.5 6.20914 5.29086 8 7.5 8C9.70914 8 11.5 6.20914 11.5 4ZM5.00003 4.00007C5.00003 2.61936 6.11932 1.50007 7.50003 1.50007C8.88075 1.50007 10 2.61936 10 4.00007C10 5.38078 8.88075 6.50007 7.50003 6.50007C6.11932 6.50007 5.00003 5.38078 5.00003 4.00007Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M15 13.0003C15 12.7814 14.9776 12.563 14.9333 12.3486C14.5733 10.6083 12.8707 9.48934 11.1305 9.84934C11.024 9.87137 10.9196 9.89279 10.8175 9.9136L9.95708 10.0843L9.44895 10.1798L8.78494 10.2955L8.40774 10.3542L8.08292 10.3983L7.81047 10.4277L7.5904 10.4424H7.4096L7.18953 10.4277C7.14849 10.424 7.10526 10.4197 7.05985 10.4148L6.76122 10.3781L6.4102 10.3267L6.00682 10.2606L5.04292 10.0843L3.86951 9.84934C3.65509 9.80496 3.4367 9.78261 3.21773 9.78261C1.44063 9.78261 0 11.2232 0 13.0003C0 15.2095 1.79086 17.0003 4 17.0003H11C13.2091 17.0003 15 15.2095 15 13.0003ZM11.4344 11.3179C12.3634 11.1257 13.2723 11.7231 13.4645 12.6521L13.4842 12.7672C13.4948 12.8443 13.5001 12.9221 13.5001 13C13.5001 14.3807 12.3808 15.5 11.0001 15.5H4.00007L3.83569 15.4947C2.53161 15.41 1.50007 14.3255 1.50007 13C1.50007 12.0513 2.26913 11.2823 3.2178 11.2823C3.33468 11.2823 3.45121 11.2942 3.56557 11.3179C3.67838 11.3412 3.7888 11.3639 3.89686 11.3859L4.80648 11.5663L5.59323 11.7113L6.26165 11.8211L6.81627 11.896C6.87174 11.9024 6.92519 11.9082 6.97664 11.9133L7.26163 11.9362L7.50007 11.9439L7.73851 11.9362C7.78209 11.9337 7.82761 11.9305 7.8751 11.9267L8.18387 11.896L8.73848 11.8211L9.17115 11.7518L9.65574 11.6668L10.4829 11.5101L11.4344 11.3179Z" fill="white"/>
					</svg>
				</button>
			</div>
			<div class="box-fm-r">
				<div class="mob-m-i search_fix_mob"><a id="search-btn-mob">
					<span class="mob-icon-box">
					<svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M16 8C16 3.58172 12.4183 0 8 0C3.58172 0 0 3.58172 0 8C0 12.4183 3.58172 16 8 16C12.4183 16 16 12.4183 16 8ZM1.5 8C1.5 4.41015 4.41015 1.5 8 1.5C11.5899 1.5 14.5 4.41015 14.5 8C14.5 11.5899 11.5899 14.5 8 14.5C4.41015 14.5 1.5 11.5899 1.5 8Z" fill="white"/>
					<path d="M12.3328 13.2701C12.6013 13.0061 13.0182 12.9855 13.31 13.2058L13.3935 13.2791L16.5347 16.4741C16.8251 16.7695 16.8211 17.2444 16.5257 17.5348C16.2572 17.7988 15.8404 17.8194 15.5486 17.5991L15.4651 17.5258L12.3238 14.3307C12.0334 14.0354 12.0375 13.5605 12.3328 13.2701Z" fill="white"/>
					</svg>
					</span>
				</a></div>
				<div class="mob-m-i compare-h-fix">
					<span class="mob-icon-box">
						<svg class="icon-compare-mob" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2.86426 13.4248C2.45004 13.4248 2.11426 13.1361 2.11426 12.7219C2.11426 12.3422 2.39641 11.9813 2.76249 11.9317L2.86426 11.9248L15.8643 11.9248C16.2785 11.9248 16.6143 12.2606 16.6143 12.6748C16.6143 13.0545 16.3321 13.3683 15.966 13.418L15.8643 13.4248L2.86426 13.4248Z" fill="white"/>
						<path d="M3.85726 15.5246C3.59386 15.7937 3.17748 15.8224 2.88155 15.6077L2.79666 15.536L1.23568 14.008C0.628742 13.4139 0.540627 12.4772 1.00541 11.784L1.09905 11.6571L2.46144 9.97227C2.72189 9.65018 3.19413 9.60022 3.51621 9.86067C3.80902 10.0974 3.87693 10.5093 3.69118 10.8242L3.62781 10.9154L2.26542 12.6002C2.19787 12.6838 2.19248 12.7987 2.24587 12.8869L2.28493 12.9361L3.84592 14.464C4.14193 14.7538 4.147 15.2286 3.85726 15.5246Z" fill="white"/>
						<path d="M15.0547 3.44019C15.4689 3.44019 15.8047 3.77597 15.8047 4.19019C15.8047 4.56988 15.5225 4.88368 15.1565 4.93334L15.0547 4.94019L2.05469 4.94019C1.64047 4.94019 1.30469 4.6044 1.30469 4.19019C1.30469 3.81049 1.58684 3.49669 1.95292 3.44703L2.05469 3.44019L15.0547 3.44019Z" fill="white"/>
						<path d="M14.0617 1.36307C14.3251 1.09397 14.7415 1.06531 15.0374 1.28001L15.1223 1.35172L16.6833 2.87966C17.2902 3.47375 17.3783 4.41052 16.9135 5.10367L16.8199 5.23064L15.4575 6.91543C15.1971 7.23751 14.7248 7.28747 14.4027 7.02702C14.1099 6.79025 14.042 6.37844 14.2278 6.06354L14.2911 5.97225L15.6535 4.28746C15.7211 4.20393 15.7265 4.08901 15.6731 4.00083L15.634 3.95161L14.073 2.42367C13.777 2.13392 13.7719 1.65908 14.0617 1.36307Z" fill="white"/>
						</svg>
					</span>
				</div>
				<div class="mob-m-i wishlist-h-fix">
					<span class="mob-icon-box">
					<svg class="icon-wishlist-mob" width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M14 2.95459C14 1.85002 13.1046 0.95459 12 0.95459H2C0.89543 0.95459 0 1.85002 0 2.95459V15.137C0 15.6755 0.217112 16.1912 0.602229 16.5675C1.39225 17.3395 2.6585 17.3248 3.43047 16.5348L6.28477 13.6137L6.39628 13.5153C6.79207 13.2148 7.35894 13.2491 7.71523 13.6137L10.5695 16.5348C10.9458 16.9199 11.4616 17.137 12 17.137C13.1046 17.137 14 16.2416 14 15.137V2.95459ZM2 2.45459H12L12.0899 2.46265C12.3231 2.50498 12.5 2.70913 12.5 2.95459V15.137L12.4919 15.2269C12.4496 15.4601 12.2455 15.637 12 15.637C11.8654 15.637 11.7365 15.5827 11.6424 15.4865L8.78808 12.5654L8.65882 12.4421C7.68661 11.5781 6.19738 11.6015 5.25279 12.5245L2.35762 15.4865L2.28904 15.5451C2.09575 15.6824 1.82612 15.6662 1.65056 15.4946C1.55428 15.4006 1.5 15.2716 1.5 15.137V2.95459L1.50806 2.86471C1.55039 2.63146 1.75454 2.45459 2 2.45459Z" fill="white"/></svg>
					</span>
				</div>
				<div class="mob-m-i cart_fix_mob">
					<span class="mob-icon-box cart-i">
						<svg class="shop-bag" width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M0.0996094 1.0001C0.0996094 0.503041 0.502553 0.100098 0.999609 0.100098H2.3909C3.19834 0.100098 3.91761 0.610433 4.18428 1.3726M4.18428 1.3726L7.21456 10.0331C7.21456 10.0331 7.21455 10.0331 7.21456 10.0331C7.2286 10.0732 7.26646 10.1001 7.30896 10.1001H17.5827C17.6303 10.1001 17.6712 10.0667 17.6807 10.0201L18.8727 4.18431C18.8727 4.1843 18.8727 4.18432 18.8727 4.18431C18.8853 4.12232 18.838 4.06427 18.7747 4.06427H8.17454C7.67748 4.06427 7.27454 3.66132 7.27454 3.16427C7.27454 2.66721 7.67748 2.26427 8.17454 2.26427H18.7747C19.9768 2.26427 20.8768 3.36663 20.6363 4.54447L19.4443 10.3803C19.2636 11.2649 18.4855 11.9001 17.5827 11.9001H7.30896C6.50153 11.9001 5.78227 11.3898 5.51558 10.6277L2.48528 1.96707C2.47125 1.92697 2.43339 1.9001 2.3909 1.9001H0.999609C0.502553 1.9001 0.0996094 1.49715 0.0996094 1.0001" fill="white"/>
						<path d="M7 19C8.10457 19 9 18.1046 9 17C9 15.8954 8.10457 15 7 15C5.89543 15 5 15.8954 5 17C5 18.1046 5.89543 19 7 19Z" fill="white"/>
						<path d="M17 19C18.1046 19 19 18.1046 19 17C19 15.8954 18.1046 15 17 15C15.8954 15 15 15.8954 15 17C15 18.1046 15.8954 19 17 19Z" fill="white"/>
						</svg>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	$(function() {
		var width_dev_ns = viewport().width;
		if (width_dev_ns <= 991) {
			$('#top-fixed-mobile').addClass('sticky-header-mobile');
			$('#top').addClass('hidden-xs');

			$('#mob-info-block-inner .box-account-mob').prepend( $('.box-account > *') );
			$('#mob-info-block-inner .box-other-mob').append( $('#language') );
			$('#mob-info-block-inner .box-other-mob').append( $('#currency') );
			$('#mob-info-block-inner .box-other-mob').append( $('.header-nav-links') );
			$('#mob-search-block-inner').prepend( $('.box-search #search') );
			$('#top-fixed-mobile .compare-h-fix > .mob-icon-box').hide();
			$('#top-fixed-mobile .wishlist-h-fix > .mob-icon-box').hide();
			$('#top-fixed-mobile .cart_fix_mob > .mob-icon-box').hide();
			$('#top-fixed-mobile .compare-h-fix').prepend( $('.compare-h') );
			$('#top-fixed-mobile .wishlist-h-fix').prepend( $('.wishlist-h') );
			$('#top-fixed-mobile .cart_fix_mob').prepend( $('.box-cart .shopping-cart') );
		}

		$(window).resize(function() {
			var width_dev_ns = viewport().width;
			if (width_dev_ns <= 991) {
				$('#top-fixed').remove();
				setTimeout(function () {
					$('#top-fixed').remove();
					$('#top').addClass('hidden-xs');
					$('#top-fixed-mobile').addClass('sticky-header-mobile');
					$('#mob-info-block-inner .box-account-mob').prepend( $('.box-account > *') );
					$('#mob-info-block-inner .box-other-mob').append( $('#language') );
					$('#mob-info-block-inner .box-other-mob').append( $('#currency') );
					$('#mob-info-block-inner .box-other-mob').append( $('.header-nav-links') );
					$('#mob-search-block-inner').prepend( $('.box-search #search') );
					$('#top-fixed-mobile .compare-h-fix > .mob-icon-box').hide();
					$('#top-fixed-mobile .wishlist-h-fix > .mob-icon-box').hide();
					$('#top-fixed-mobile .cart_fix_mob > .mob-icon-box').hide();
					$('#top-fixed-mobile .compare-h-fix').prepend( $('.compare-h'));
					$('#top-fixed-mobile .wishlist-h-fix').prepend( $('.wishlist-h') );
					$('#top-fixed-mobile .cart_fix_mob').prepend( $('.box-cart .shopping-cart') );
				}, 500);
			} else {
				setTimeout(function () {
					$('#top-fixed').remove();
					$('#top').removeClass('hidden-xs');
					$('#top-fixed-mobile').removeClass('sticky-header-mobile');
					$('.box-currency').prepend( $('#currency') );
					$('.box-language').prepend( $('#language') );
					$('.box-question').prepend( $('#mob-info-block-inner .header-nav-links') );
					$('.box-account').prepend( $('#mob-info-block-inner .box-account-mob > *') );
					$('.box-search #searchtop').prepend( $('#mob-search-block-inner #search') );
					$('#top-fixed-mobile .compare-h-fix > .mob-icon-box').show();
					$('#top-fixed-mobile .wishlist-h-fix > .mob-icon-box').show();
					$('#top-fixed-mobile .cart_fix_mob > .mob-icon-box').show();
					$('.box-cart').prepend( $('#top-fixed-mobile .cart_fix_mob .shopping-cart') );
					$('.box-cart').prepend( $('#top-fixed-mobile .wishlist-h') );
					$('.box-cart').prepend( $('#top-fixed-mobile .compare-h') );
				}, 500);
			}
		});
	});
});
$(document).on('click', '.box-fm-r .shopping-cart .dropdown-toggle', function () {
	$('#mob-search-block').hide();
});
$('#info-btn-mob').on('click', function() {
	$('#menu-mobile-ns .navbar-type2-collapse').removeClass('in');
	$('body').removeClass('no-scroll-html');
	$('#mob-info-block').toggleClass('active');
	$('html').toggleClass('no-scroll-html');
	$('.mobm-menu-blur').addClass('active-blur');
	$('#mob-search-block').hide();
});
$('#search-btn-mob').on('click', function() {
	$('#menu-mobile-ns .navbar-type2-collapse').removeClass('in');
	$('body').removeClass('no-scroll-html');
	$('#mob-search-block').slideToggle(300);
	$('html').toggleClass('no-scroll-html');
});
$(".mob-block-close").click(function(){
	$(".mob-block-fix").removeClass('active');
	$('html').removeClass('no-scroll-html');
	$('.mobm-menu-blur').removeClass('active-blur');
});
</script>
{% endif %}
{% if (config_fixed_panel_top) %}
<script>
$(document).ready(function() {
	var width_fmns = viewport().width;
	var header_h = $('.menu-header-box').offset().top;
	var htop_b = 0;
	setTimeout(function () {
		htop_b = $('.htop-b-pc').outerHeight();
	}, 100);

	var menu_v = $('#menu #menu-list').outerHeight();
	if (width_fmns >= 992) {
	$(window).scroll(function(){
		if($(this).scrollTop() > header_h + htop_b + 65 && viewport().width >= 992) {
			if($("#top-fixed").length==0) {
				$('#maskMenuDop').removeClass('open');
				html_fix_menu = '{% if (type_header == 1) %}<header></header>{% endif %}';
				html_fix_menu += '<div class="{% if (hmenu_type == 1) %}menu-header-box full-mw h-type-{{ type_header }}{% else %}container{% if (hmenu_type == 0) %} menu-fix-cont{% endif %}{% endif %} {% if (main_menu_fix_mobile is defined and (main_menu_fix_mobile == 1)) %}hide-box-menu{% endif %}">';
				html_fix_menu += '<div class="{% if (hmenu_type == 1) %}container{% else %}menu-header-box cont-mw h-type-{{ type_header }}{% endif %}">';
				html_fix_menu += '<div class="row{% if (type_header == 2) %} dflex{% endif %}{% if (swap_search_dmenu == 1) %} h-type-2-st{% else %} h-type-2-sb{% endif %}">';
				html_fix_menu += '</div></div></div>';

				$('header .dropdown-menu.autosearch').css('display','none');
				$('#top').before('<div id="top-fixed" class="hidden-xs hidden-sm h-type-{{ type_header }} hmenu_type-{{ hmenu_type }}">'+ html_fix_menu +'</div>');
				{% if (type_header == 1) %}
					$('header > ').clone().appendTo('#top-fixed header');
					{% if (hmenu_type == 0) %}
						$('.menu-box').clone().appendTo('#top-fixed .menu-fix-cont .menu-header-box > .row');
						$('#additional-menu').parent().clone().appendTo('#top-fixed .menu-fix-cont .menu-header-box > .row');
					{% endif %}
					{% if (hmenu_type == 1) %}
						$('.menu-box').clone().appendTo('#top-fixed .menu-header-box .container > .row');
						$('#additional-menu').parent().clone().appendTo('#top-fixed .menu-header-box .container > .row');
					{% endif %}
				{% endif %}
				{% if (type_header == 2) %}
					{% if (hmenu_type == 0) %}
						$('.menu-box').clone().appendTo('#top-fixed .menu-header-box > .row');
						{% if ((type_header == 2) and (swap_search_dmenu == 1)) %}
						$('.dop-menu-box').clone().appendTo('#top-fixed .menu-header-box > .row');
						{% endif %}
						$('.r-h-box').clone().appendTo('#top-fixed .menu-header-box > .row');
					{% endif %}
					{% if (hmenu_type == 1) %}
						$('.menu-box').clone().appendTo('#top-fixed .menu-header-box .container > .row');
						{% if ((type_header == 2) and (swap_search_dmenu == 1)) %}
						$('.dop-menu-box').clone().appendTo('#top-fixed .menu-header-box .container > .row');
						{% endif %}
						$('.r-h-box').clone().appendTo('#top-fixed .menu-header-box .container > .row');
					{% endif %}
				{% endif %}


				$('#top-fixed #menu-list').removeClass('nsmenu-block');
				$('#top-fixed').addClass('fixed-top-header{% if (type_header == 2) %} h-type-2{% endif %}');
				$('#top-fixed #menu-list').menuAim({
					activateCallback: activateSubmenu_fixed,
					deactivateCallback: deactivateSubmenu_fixed,
				});
				function activateSubmenu_fixed(row) {$(row).addClass('menu-open');}
				function deactivateSubmenu_fixed(row) {$(row).removeClass('menu-open');}
				function exitMenu_fixed(row) {return true;}
				$('#top-fixed .dropdown-menu-simple .nsmenu-haschild').menuAim({
					activateCallback: activateSubmenu2level_fixed,
					deactivateCallback: deactivateSubmenu2level_fixed,
				});
				function activateSubmenu2level_fixed(row) {$(row).addClass('menu-open-2level');}
				function deactivateSubmenu2level_fixed(row) {$(row).removeClass('menu-open-2level');}
				function exitMenu2level_fixed(row) {return true;}
				$('#top-fixed #search a').bind('click', function() {
					$("#top-fixed #selected_category").val($(this).attr('data-idsearch'));
					$('#top-fixed .category-name').html($(this).html());
				});
				$('#top-fixed #phone .contact-header').hover(function() {
				  $(this).find('#top-fixed .drop-contacts').stop(true, true).delay(10).fadeIn(10);
				  $(this).addClass('open');
				}, function() {
				   $(this).find('#top-fixed .drop-contacts').stop(true, true).delay(10).fadeOut(10);
					$(this).removeClass('open');
				});
				$('#top-fixed #additional-menu li.dropdown').hover(function() {
					$(this).find('.dropdown-menu').stop(true, true).delay(10);
					$(this).addClass('open');
					$('#maskMenuDop').addClass('open');
					$(this).find('.dropdown-toggle').attr('aria-expanded', 'true');
				}, function() {
					$(this).find('.dropdown-menu').stop(true, true).delay(10);
					$(this).removeClass('open');
					$('#maskMenuDop').removeClass('open');
					$(this).find('.dropdown-toggle').attr('aria-expanded', 'false')
				});
				$('#top-fixed .btn-search').bind('click', function() {
					url = $('base').attr('href') + 'index.php?route=product/search';
					var value = $('#top-fixed input[name=\'search\']').val();
					if (value) {
						url += '&search=' + encodeURIComponent(value);
					} else {
						url += '&search=';
					}
					var category_id = $('#top-fixed input[name=\'category_id\']').prop('value');
					if (category_id > 0) {url += '&category_id=' + encodeURIComponent(category_id) + '&sub_category=true';}
					location = url;
				});
			}
		} else {
			$('#top-fixed').remove();
		}
	});
	}
	{% if (type_header == 1) %}
	$(document).on('click', '#top-fixed .m-fix-btn', function () {
		$(this).toggleClass('rotate-icon');
		$('#top-fixed').toggleClass('open-fix-mm');
		cs__menu_init(2);
	});
	{% endif %}
});
</script>
{% endif %}
{% if (type_mobile_menu is defined and (type_mobile_menu == 1) or (main_menu_fix_mobile is defined and (main_menu_fix_mobile == 1))) %}
<div class="mobm-menu-blur hidden-md hidden-lg"></div>
<div class="hidden-md hidden-lg">
	<nav id="menu-mobile-ns" class="{% if (type_mobile_menu is defined and (type_mobile_menu == '1')) %}navmenu-fixed-left {% else %}menu-collapse-down{% endif %}">
		<div {% if (type_mobile_menu is defined and (type_mobile_menu == '0')) %}class="collapse navbar-collapse navbar-type2-collapse"{% endif %}>
		  	{% if (type_mobile_menu is defined and (type_mobile_menu == '1')) %}
			<div class="mobm-top">
				<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M8 2C8 0.89543 7.10457 0 6 0H2C0.89543 0 0 0.89543 0 2V6C0 7.10457 0.89543 8 2 8H6C7.10457 8 8 7.10457 8 6V2ZM2 1.5H6L6.08988 1.50806C6.32312 1.55039 6.5 1.75454 6.5 2V6L6.49194 6.08988C6.44961 6.32312 6.24546 6.5 6 6.5H2L1.91012 6.49194C1.67688 6.44961 1.5 6.24546 1.5 6V2L1.50806 1.91012C1.55039 1.67688 1.75454 1.5 2 1.5Z" fill="black"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M17 2C17 0.89543 16.1046 0 15 0H11C9.89543 0 9 0.89543 9 2V6C9 7.10457 9.89543 8 11 8H15C16.1046 8 17 7.10457 17 6V2ZM11 1.5H15L15.0899 1.50806C15.3231 1.55039 15.5 1.75454 15.5 2V6L15.4919 6.08988C15.4496 6.32312 15.2455 6.5 15 6.5H11L10.9101 6.49194C10.6769 6.44961 10.5 6.24546 10.5 6V2L10.5081 1.91012C10.5504 1.67688 10.7545 1.5 11 1.5Z" fill="black"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M17 11C17 9.89543 16.1046 9 15 9H11C9.89543 9 9 9.89543 9 11V15C9 16.1046 9.89543 17 11 17H15C16.1046 17 17 16.1046 17 15V11ZM11 10.5H15L15.0899 10.5081C15.3231 10.5504 15.5 10.7545 15.5 11V15L15.4919 15.0899C15.4496 15.3231 15.2455 15.5 15 15.5H11L10.9101 15.4919C10.6769 15.4496 10.5 15.2455 10.5 15V11L10.5081 10.9101C10.5504 10.6769 10.7545 10.5 11 10.5Z" fill="black"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M8 11C8 9.89543 7.10457 9 6 9H2C0.89543 9 0 9.89543 0 11V15C0 16.1046 0.89543 17 2 17H6C7.10457 17 8 16.1046 8 15V11ZM2 10.5H6L6.08988 10.5081C6.32312 10.5504 6.5 10.7545 6.5 11V15L6.49194 15.0899C6.44961 15.3231 6.24546 15.5 6 15.5H2L1.91012 15.4919C1.67688 15.4496 1.5 15.2455 1.5 15V11L1.50806 10.9101C1.55039 10.6769 1.75454 10.5 2 10.5Z" fill="black"/>
				</svg>
		        <div class="mobm-title-catalog">{{ text_category }}</div>
		        <a class="mobm-close-menu" href="javascript:void(0)" onclick="close_mob_menu();">×</a>
		    </div>
		    {% endif %}
		    <div class="mob-catalog">
		  	<ul class="nav navbar-nav">
			{% for item in items %}
				<li><a href="{{ item['href'] }}" rel="nofollow">
					{% if (item['thumb']) %}
						<img alt="{{ item['name'] }}" class="nsmenu-thumb {% if (item['thumb_hover']) %}pitem-icon{% endif %}" src="{{ item['thumb']}}"/>
					{% endif %}
					{% if (item['thumb_hover']) %}
						<img alt="{{ item['name'] }}" class="nsmenu-thumb hitem-icon" src="{{ item['thumb_hover']}}"/>
					{% endif %}
					<div class="item-name{% if (item['thumb']) %} himg{% endif %}">{{ item['name'] }}</div>
					{% if (item['children']) %}<span class="show-sc-mobile" data-toggle="collapse"><i class="plus">+</i></span>{% endif %}
					{% if (item['sticker_parent'] is not empty) %}
						<span style="color:#{{ item['spctext'] }}; background-color:#{{ item['spbg'] }}" class="cat-label cat-label-label">{{ item['sticker_parent'] }}</span>
					{% endif %}
					</a>
					{% if (item['type'] == "html") %}
						<div class="collapse mob-submenu-list">
							<div class="mob-html-block">
								{{ item.html[lang_id] }}
							</div>
					   </div>
					{% endif %}
					{% if (item['children'] is not empty and (item['type'] != 'html')) %}
						<div class="collapse mob-submenu-list">
							<ul class="list-unstyled">
								{% for child in item['children'] %}
									<li>
										<a href="{{ child['href'] }}" rel="nofollow">{{ child['name'] }}
											{% if (child['children'] is not empty) %}<span class="show-sc-mobile" data-toggle="collapse"><i class="plus">+</i></span>{% endif %}
										</a>
											{% if (child['children'] is not empty) %}
												<div class="collapse mob-submenu-list-3lev">
													<ul class="list-unstyled">
														{% for subchild in child['children'] %}
															{% if (item['type'] == "freelink") %}
																<li><a href="{{ subchild['link'] }}">{{ subchild['title'] }}</a></li>
															{% else %}
																<li><a href="{{ subchild['href'] }}">{{ subchild['name'] }}</a></li>
															{% endif %}
														{% endfor %}
													</ul>
												</div>
											{% endif %}
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}

				</li>
			{% endfor %}
		  </ul>
		   </div>
		</div>
	</nav>
</div>
<script>
$("#menu-mobile-ns .show-sc-mobile").click(function () {
	$(this).siblings(".collapsible").toggle();
	$(this).toggleClass("open-sc-mobile");
	$(this).parent().toggleClass("active-menu");
	$(this).parent().next().toggleClass("in");
});

function close_mob_menu(){
	$('#menu-mobile-ns.navmenu-fixed-left').removeClass('active');
	$('body').removeClass('modal-open');
	$('.mobm-menu-blur').removeClass('active-blur');
}

$('[data-toggle="offcanvas"]').on('click', function(e) {
    $('#menu-mobile-ns.navmenu-fixed-left').toggleClass('active');
    $('body').toggleClass('modal-open');
    $('#mob-search-block').hide();
    $('.mobm-menu-blur').toggleClass('active-blur');


});

$(document).on('click', '.mobm-menu-blur', function () {
	$('#menu-mobile-ns.navmenu-fixed-left').removeClass('active');
	$('#mob-info-block').removeClass('active');
	$('body').removeClass('modal-open');
	$('html').removeClass('no-scroll-html');
	$('body').removeClass('no-scroll-html');
	$('.mobm-menu-blur').removeClass('active-blur');
});
</script>
{% endif %}